language: node_js
node_js:
  - node
cache:
  directories:
    - node_modules
script:
  - npm install
  - npm run build
install:
  - npm install -g firebase-tools
after_success:
  - firebase deploy --project chatproject-c2766 --token $FIREBASE_TOKEN
